{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Katie's To Do List{% endblock %}

{% block content %}

<h1>Archived Tasks</h1>

{% for date in dict %}
<h3>{{ date.strftime("%m/%d/%Y") }}</h3>
<ul>
  {% for task in dict[date] %}
  <li>{{ task }}</li>
  {% endfor %}
</ul>
{% endfor %}

<div class="links">
  <p><a href="{{ url_for('home') }}">Home</a></p>
</div>

{% endblock %}