{% extends 'bootstrap/base.html' %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Katie's To Do List{% endblock %}

{% block content %}

<h1>Recurring Tasks</h1>
<div class="lists">

    <div class="year">
        <h2>Yearly Tasks</h2>
        <ul class="list-group">
            {% for task in year_list %}
            <li class="list-group-item">{{ task.task_name }}: {{ task.frequency }}x/year.
                <a href="{{ url_for('delete_recurring', id=task.id) }}">❌</a>
                <a href="{{ url_for('edit_recurring', id=task.id) }}">✏️</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="month">
        <h2>Monthly Tasks</h2>
        <ul class="list-group">
            {% for task in month_list %}
            <li class="list-group-item">{{ task.task_name }}: {{ task.frequency }}x/month.
                <a href="{{ url_for('delete_recurring', id=task.id) }}">❌</a>
                <a href="{{ url_for('edit_recurring', id=task.id) }}">✏️</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="week">
        <h2>Weekly Tasks</h2>
        <ul class="list-group">
            {% for task in week_list %}
            <li class="list-group-item">{{ task.task_name }}: {{ task.frequency }}x/week.
                <a href="{{ url_for('delete_recurring', id=task.id) }}">❌</a>
                <a href="{{ url_for('edit_recurring', id=task.id) }}">✏️</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="day">
        <h2>Daily Tasks</h2>
        <ul class="list-group">
            {% for task in day_list %}
            <li class="list-group-item">{{ task.task_name }}: {{ task.frequency }}x/day.
                <a href="{{ url_for('delete_recurring', id=task.id) }}">❌</a>
                <a href="{{ url_for('edit_recurring', id=task.id) }}">✏️</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="links">
  <p><a href="{{ url_for('home') }}">Home</a></p>
</div>

{% endblock %}